@using ChromeRigs.MVC.Models.Customers
@model CustomerDetailsViewModel

@{
    ViewData["Title"] = "Customer Details";
}

<div class="container">
    <h1>
        Customer Details
        <span class="text-primary">
            @Model.FullName
        </span>
    </h1>

    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MobileNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MobileNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>
    </div>

    <hr />

    <h4>Orders History</h4>

    @if (Model.Orders.Count > 0)
    {
        <table id="DataTables_Table_0" class="table table-hover table-striped data-tables">
            <thead>
                <tr>
                    <th class="text-start">
                        Order Number
                    </th>
                    <th class="text-start">
                        Order Time
                    </th>
                    <th class="text-start">
                        Total Price
                    </th>
                    <th class="text-start">
                        Notes
                    </th>
                    <th class="text-start">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td class="text-start">
                            @Html.DisplayFor(modelItem => order.Id)
                        </td>
                        <td class="text-start">
                            @Html.DisplayFor(modelItem => order.OrderTime)
                        </td>
                        <td class="text-start">
                            <span>$</span>@Html.DisplayFor(modelItem => order.TotalPrice)
                        </td>
                        <td class="text-start">
                            @Html.DisplayFor(modelItem => order.Notes)
                        </td>
                        <td class="text-start">
                            <a class="text-decoration-none ms-2" asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id" title="Details">
                                <i class="fa-solid fa-circle-info text-info"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="fw-bold text-center">@Model.FullName has not placed any orders yet</h4>
    }

    <hr />

    <div mt-3>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
        <a asp-action="Index class="btn btn-secondary ms-2">Cancel</a>
    </div>
</div>