@using ChromeRigs.MVC.Models.Components
@model ComponentDetailsViewModel

@{
    ViewData["Title"] = "Component Details";
}

<div class="container">


    <h1>
        Component Details 
        <span class="text-primary">
            @Model.Name
        </span>
    </h1>

    <hr />

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                <span>$</span>@Html.DisplayFor(model => model.Price)
            </dd>
        </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
    </div>


</div>