@using ChromeRigs.MVC.Models.PCs
@model IEnumerable<PCViewModel>

@{
    ViewData["Title"] = "PCs";
}

<div class="container">

    <h1>PCs</h1>

    <hr />

    <p>
        <a asp-action="Create" class="btn btn-chromerigs-color">Create a New PC</a>
    </p>

    <hr />

    <div class="row g-4">

        @foreach (var pc in Model)
        {
            <div class="col-lg-4">
                <div class="pc">
                    <div class="card">
                        <img src="~/imgs/pcs/@pc.ImageName" class="card-img-top" alt="@pc.Name">
                        <div class="card-body">
                            <h5 class="card-title text-chromerigs-color">
                                <a class="text-decoration-none text-chromerigs-color" asp-action="Details" asp-route-id="@pc.Id" title="Details">
                                    @pc.Name
                                </a>
                            </h5>
                            <p class="card-text">@pc.Description</p>
                        </div>
                        <div class="card-footer text-end">

                            <a class="text-decoration-none" asp-action="Edit" asp-route-id="@pc.Id" title="Edit">
                                <i class="fa-solid fa-pen text-chromerigs-color"></i>
                            </a>

                            <a class="text-decoration-none ms-2" asp-action="Delete" asp-route-id="@pc.Id" title="Delete"
                               data-bs-toggle="modal" data-bs-target="#delete_@pc.Id">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </a>

                            <!-- Delete Modal -->
                            <div class="modal fade" id="delete_@pc.Id" tabindex="-1" aria-labelledby="delete_@pc.Id" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete PC</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <h5>
                                                Are you sure you want to delete PC
                                                <span class="text-danger">
                                                    @pc.Name
                                                </span>?
                                            </h5>

                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Delete">
                                                <input type="hidden" name="id" value="@pc.Id" />
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger ms-1">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>

